.b-listfilter
{
    background-color:#1db69a;
    border:1px solid #e6e6e6;
    font-size:12px;
    line-height:16px;
    padding:0 20px;
}

.b-listfilter-item
{
    position:relative;
    overflow:hidden;
    height:40px;
    zoom:1;
    padding-left:36px;
    padding-right:50px;
    border-bottom:1px dashed #e6e6e6;
    width: 1200px;
    margin:15px auto;
}

.b-listfilter-item:last-child
{
    border-bottom:0;
}

.b-listfilter-item .type
{
    position:absolute;
    left:0;
    top:10px;
    color:#999;
    padding:2px 0;
}

.b-listfilter-item .item
{
    padding:5px 0;
}

.b-listfilter-item .item a
{
    float:left;
    zoom:1;
    height:20px;
    font-size: 14px;
    white-space:nowrap;
    word-wrap:break-word;
    margin:5px 0px 5px 0px;
    padding:2px 20px;
    color: #ffffff ;
}
.b-listfilter-item .item a:first-child{
	 padding-left: 0px;
}

@media screen and (max-width:600px){
	.b-listfilter-item .item{ padding: 0;}
	
	.b-listfilter-item .item a
	{
		height: auto;
		padding:4px 20px;
	}
	.b-listfilter-item .item a:first-child{
		 padding:4px 20px;
	}
}



.b-listfilter-item .item a:hover{
    text-decoration: underline !important;
}

.b-listfilter-item .act
{
    position:absolute;
    right:0;
    top:12px;
    height:16px;
    line-height:16px;
}

.b-listfilter-item .act a
{
    display:none;
    padding:0 13px 0 0;
}

.b-listfilter-item .open
{
    background:url(images/t0187f8287120a671ea.png) right center no-repeat;
}

.b-listfilter-item .close
{
    background:url(images/t018dad77370f0fe67d.png) right center no-repeat;
}

.b-listtab
{
    margin-top:20px;
    color:#222;
    font-size:12px;
    margin-bottom:20px;
}

.b-listtab .tab-line
{
    width:100%;
    height:39px;
    background:#fff;
    border:1px solid #e6e6e6;
    border-bottom:2px solid #aik651;
}

.b-listtab .tab
{
    float:left;
    z-index:1;
}

.b-listtab .tab-item
{
    position:relative;
    float:left;
    display:inline;
    height:39px;
    line-height:39px;
    width:83px;
}

.b-listtab .tab-item a
{
    float:left;
    height:39px;
    width:83px;
    text-align:center;
    overflow:hidden;
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    background:#fff;
    white-space:nowrap;
}

.b-listtab .tab-cur a
{
    position:absolute;
    border-left:1px solid #aik651;
    border-right:1px solid #aik651;
    border-top:3px solid #aik651;
    top:-1px;
    left:-1px;
    height:39px;
    text-indent:1px;
    z-index:2;
    background:#f4f4f4;
    width:82px;
}

.b-listtab .tab-item span
{
    position:absolute;
    width:1px;
    background:#d8d8d8;
    overflow:hidden;
    height:17px;
    top:10px;
    right:0;
}

.b-listtab .app
{
    float:right;
    line-height:39px;
}

.b-listtab .app span
{
    color:#cb0000;
    padding:0 2px;
}

.b-listtab .app a
{
    display:inline-block;
    width:80px;
    height:31px;
    line-height:31px;
    text-align:center;
    color:#fff;
    background:#aik651;
    border-radius:2px;
    margin:5px 6px;
}

.b-listtab .app a:hover
{
    color:#fff;
    background:#189a83;
}

.b-listtab-main
{
    margin-top:0;
    padding-top:0;
    overflow:hidden;
}

.b-listtab-main .list
{
    margin-left:-50px;
}

.b-listtab-main .item
{
    float:left;
    width:285px;
    height:268px;
    border-bottom:1px solid #e9e9e9;
    margin:0 0 20px 20px;
    overflow: hidden;;
}

.b-listtab-main .cover
{
    width:100%;
    height:213px;
    overflow:hidden;
    position:relative;
    font-size:12px;
}

.b-listtab-main .pay
{
    position:absolute;
    top:4px;
    left:4px;
    display:block;
    height:19px;
    line-height:19px;
    background:rgba(29,182,154,0.8);
    color:#fff;
    text-align:center;
    border-radius:2px;
    padding-left:5px;
    padding-right:5px;
}

.b-listtab-main .hint
{
    position:absolute;
    right:4px;
    bottom:4px;
    background:rgba(0,0,0,0.8);
    color:#fff;
    border-radius:2px;
    padding:2px 6px;
}

.b-listtab-main .detail
{
    width:100%;
    background:#fff;
}

.b-listtab-main .title
{
    font-size:14px;
    padding:7px 5px 3px;
}

.b-listtab-main .title .s1
{
    display:inline-block;
    float:left;
    width:144px;
    height:20px;
    line-height:20px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    color:#222;
}

.b-listtab-main .title .s2
{
    float:right;
    color:#ff7b00;
    font-size:16px;
}

.b-listtab-main .star
{
    font-size:12px;
    color:#999;
    width:100px;
    height:18px;
    line-height:18px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    margin:0 5px;
}

.ew-page
{
    color:#222;
    font-size:12px;
    text-align:center;
}

.ew-page a
{
    border:1px solid #e6e6e6;
    display:inline-block;
    width:36px;
    height:36px;
    line-height:36px;
    background-color:#fff;
    text-align:center;
    color:#222;
    margin:0 4px;
}

.ew-page span
{
    display:inline-block;
    width:38px;
    color:#222;
}

.ew-page .btn
{
    width:72px;
}

.ew-page a:hover
{
    color:#aik651;
    border:1px solid #aik651;
}

.ew-page .on:hover,.ew-page .on
{
    cursor:default;
    border:1px solid #aik651;
    color:#fff;
    display:inline-block;
    width:36px;
    height:36px;
    line-height:36px;
    background-color:#aik651;
    text-align:center;
    margin:0 4px;
}

.eb-mediav-500
{
    float:left;
    width:498px;
    height:88px;
    border:1px solid #b0dbd4;
    overflow:hidden;
}

.eb-mediav-500 .logo
{
    display:block;
    float:left;
    width:50px;
    height:90px;
}

.eb-mediav-500 .list
{
    z-index:1;
    padding:0 3px;
}

.eb-mediav-500 .list li
{
    float:left;
    width:85px;
    height:88px;
    overflow:hidden;
    margin-left:3px;
}

.eb-mediav-500 .item
{
    display:block;
    width:100%;
    height:100%;
    position:relative;
}

.eb-mediav-500 .item .hint
{
    position:absolute;
    left:0;
    bottom:0;
    width:86px;
    height:20px;
    background:#fff;
    opacity:.9;
}

.eb-mediav-500 .item:hover .hint
{
    height:100%;
}

.eb-mediav-500 .item .price
{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:20px;
    line-height:20px;
    text-align:center;
    color:#ff1313;
    font-size:14px;
}

.eb-mediav-500 .item .desc
{
    position:absolute;
    top:5px;
    left:5px;
    width:76px;
    height:48px;
    line-height:16px;
    overflow:hidden;
    font-size:12px;
    color:#333;
    display:none;
}

.eb-mediav-500 .appdown
{
    display:block;
    width:100%;
    height:100%;
}

.eb-mediav-500 .list-wrapper
{
    width:448px;
    height:100%;
    position:relative;
    overflow:hidden;
    float:left;
}

.eb-mediav-500 .list-wrapper b
{
    z-index:2;
    position:absolute;
    top:15px;
    width:20px;
    height:45px;
    cursor:pointer;
    background-image:url(images/t01776acc478f788c42.png);
    background-repeat:no-repeat;
}

.eb-mediav-500 .list-wrapper .btn-l
{
    background-position:0 0;
    left:0;
}

.eb-mediav-500 .list-wrapper .btn-l:hover
{
    background-position:0 -45px;
}

.eb-mediav-500 .list-wrapper .btn-r
{
    background-position:0 -90px;
    right:0;
}

.eb-mediav-500 .list-wrapper .btn-r:hover
{
    background-position:0 -135px;
}

.eb-mediav-wide
{
    width:1180px;
    position:relative;
    text-align:center;
    display:none;
    margin:40px auto 0;
}

.eb-mediav-950
{
    display:block;
    width:950px;
    height:90px;
    overflow:hidden;
    margin:40px auto 0;
}

.eb-mediav-660
{
    float:left;
    width:660px;
    height:90px;
    margin-right:19px;
}

.p-body .eb-mediav-500 .list
{
    width:448px;
}

.g-slide
{
    position:relative;
    overflow:hidden;
}

.g-slide-item
{
    position:absolute;
    top:0;
    left:0;
    display:none;
}

.eb-signin-signup
{
    overflow:hidden;
    zoom:1;
    background-color:#fff;
    height:390px;
}

.eb-signin
{
    width:598px;
    background-color:#fff;
}

.eb-signin-top
{
    width:596px;
    background-color:#475e5e;
}

.eb-signin-nav
{
    background-color:#a6b1b1;
}

.eb-signin-topline
{
    background-color:#909e9e;
    width:594px;
}

.eb-signin-topline-in
{
    background-color:#bac2c3;
    width:592px;
}

.eb-signin-topline p
{
    background-color:#bac2c3;
}

.b-line
{
    height:1px;
    font-size:0;
    margin:0 auto;
}

.eb-signin-nav-topline
{
    background-color:#e5e8e9;
    width:594px;
}

.eb-signin-nav-bomline
{
    background-color:#eff1f1;
}

.pingfen
{
    position:absolute;
    bottom:52px;
    right:6px;
    display:none;
}

.am-container
{
    max-width:1220px;
}

.g-playicon:after,.g-playicon-mask,.g-playicon-icon
{
    visibility:hidden;
    position:absolute;
    overflow:hidden;
    cursor:pointer;
}

.g-playicon:after
{
    z-index:2;
    top:0;
    left:0;
    width:100%;
    height:100%;
    content:'';
    background:rgba(0,0,0,.3) url(images/t01925d53c7bd381a67.png) no-repeat center;
    cursor:pointer;
    opacity:0;
    -webkit-transition:opacity 300ms linear;
    -moz-transition:opacity 300ms linear;
    -o-transition:opacity 300ms linear;
    -ms-transition:opacity 300ms linear;
    transition:opacity 300ms linear;
}

.g-playicon:hover
{
    border-color:#fefefe;
}

.g-playicon:hover:after
{
    opacity:1;
}

.g-playicon-mask,.g-playicon-icon
{
    top:0;
    left:0;
    width:100%!important;
    height:100%!important;
}

.g-playicon-mask
{
    z-index:2;
    background:#000;
    opacity:.3;
    filter:alpha(opacity=30);
}

.g-playicon-icon
{
    z-index:3;
    background:url(images/t01925d53c7bd381a67.png) center no-repeat;
}

.g-playicon:hover:after,.g-playicon:hover .g-playicon-mask,.g-playicon:hover .g-playicon-icon
{
    visibility:visible;
}

.videolis
{
    width:100%;
    border-radius:6px;
    border:solid #dedede 1px;
    float:left;
    margin-bottom:10px;
    background:#fff;
    margin-right:22px;
}

.videolis a
{
    color:#666;
}

.bbbt
{
    font-weight:400;
    margin-bottom:0;
    margin-top:0;
    font-size:12px;
    overflow:hidden;
    height:29px;
    padding:8px;
}

.am-g
{
    background:#f8f8f8;
}

.m-g
{
    border-radius:2px;
}

.paging
{
    text-align:center;
    clear:both;
    margin:24px 0;
}

#text-indent:hover
{
    -webkit-animation:text-indent 1s ease 0 alternate none infinite;
    -moz-animation:text-indent 1s ease 0 alternate none infinite;
    animation:text-indent 1s ease 0 alternate none infinite;
}

50%
{
    text-indent:20px;
}

to
{
    text-indent:-20px;
}

.fenlei
{
    margin-top:10px;
}

;
@media only screen and (width:768px)
{
    b-listtab-mainitemwidth:230px;
}

;
@media only screen and (max-width:700px)
{
    b-listtab-mainitemwidth:44%;
}

.b-listfilter-item .on:hover,.b-listfilter-item .on,.paging .current
{
    background-color:#aik651;
    color:#fff;
}

.b-listtab .tab-cur span,.eb-mediav-500 .item-360video .hint,.eb-mediav-500 .item-360video .price,.eb-mediav-500 .item-360video .desc,.eb-mediav-500 .item-360video:hover .desc,.g-wide .eb-mediav-950,.eb-foot,#js-eb-feedback2,#js-eb-sidefeedback2
{
    display:none;
}

.eb-mediav-500 .item img,.eb-mediav-500 .appdown img
{
    width:100%;
    height:100%;
}

.eb-mediav-500 .item:hover .desc,.g-wide .eb-mediav-wide,.g-wide .eb-mediav-small .eb-mediav-950,.g-slide-item:first-child
{
    display:block;
}

.eb-mediav,.videolis img
{
    width:100%;
}

.eb-signin input:-ms-input-placeholder,textarea:-ms-input-placeholder,.eb-signin input::-webkit-input-placeholder,textarea::-webkit-input-placeholder
{
    color:#dadada;
    font-size:14px;
}

.eb-registe-nav-topline,.eb-signin-nav-bomline p
{
    background-color:#e5e8e9;
    width:596px;
}

@media only screen and width1024px {
    .b-listtab-main .item
    {
        width:181px;
    }
}

@media only screen and max-width420px {
    .b-listfilter-item .item a
    {
        margin:5px 0 5px 12px;
    }

    .b-listtab-main .item
    {
        width:44%;
        height:262px;
    }

    .b-listtab-main .cover
    {
        height:203px;
    }

    .b-listtab-main .title .s1
    {
        width:82px;
    }

    .b-listtab-main .detail
    {
        overflow:hidden;
    }
}

@media only screen and max-width320px {
    .b-listfilter-item .item a
    {
        margin:5px 0 5px 5px;
    }

    .b-listtab-main .item
    {
        margin:0 0 20px 18px;
    }
}