{include file="../../../application/admin/view/public/head" /}
<div class="page-container p10">
    <fieldset class="layui-elem-field">
        <legend>网址列表</legend>
        <div class="layui-field-box">
            <p>http://fly.layui.com/column/all/page/1/</p>
            <hr>
            <p>http://fly.layui.com/column/all/page/2/</p>
            <hr>
            <p>http://fly.layui.com/column/all/page/3/</p>
            <hr>
            <p>http://fly.layui.com/column/all/page/4/</p>
            <hr>
        </div>
    </fieldset>
</div>
{include file="../../../application/admin/view/public/foot" /}

<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
                , layer = layui.layer
                , $ = layui.jquery;



    });

</script>

</body>
</html>