<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="cache-control" content="no-siteapp">
	

<title>在线播放{$obj.vod_name} {$obj['vod_play_list'][$param['sid']]['urls'][$param['nid']]['name']} - 高清资源 - {$maccms.site_name}</title>
		<meta name="keywords" content=">在线播放{$obj.vod_name} {$obj['vod_play_list'][$param['sid']]['urls'][$param['nid']]['name']} - 高清资源 - {$maccms.site_name}">
		<meta name="description" content=">在线播放{$obj.vod_name} {$obj['vod_play_list'][$param['sid']]['urls'][$param['nid']]['name']} - 高清资源 - {$maccms.site_name}">

<!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->
<style>
.w-newfigure{list-style:none; float:left;}
.list{ margin-left:-40px;}
</style>
</head>
<body class="page-template page-template-pages page-template-posts-play page-template-pagesposts-play-php page page-id-16">


<script type="text/javascript">
	var url=window.location.host;
 window.location.href="http://"+url+"/index.php/vod/play/id/{$obj.vod_id}/sid/1/nid/1.html"; 
</script>
</body>
</html>