.b-listfilter
{
    background-color:#1db69a;
    border:1px solid #e6e6e6;
    font-size:12px;
    line-height:16px;
    padding:0 20px;
}
.b-listfilter .bread-crumbs{ color: #FFFFFF;}
.b-listfilter .bread-crumbs li{ line-height: 35px; font-size: 14px; list-style: none;}
.b-listfilter .bread-crumbs a{ color: #FFFFFF;}
.b-listfilter-item
{
    position:relative;
    overflow:hidden;
    height:40px;
    zoom:1;
    padding-left:36px;
    padding-right:50px;
    border-bottom:1px dashed #e6e6e6;
    width: 1200px;
    margin:15px auto;
}

.b-listfilter-item:last-child
{
    border-bottom:0;
}

.b-listfilter-item .type
{
    position:absolute;
    left:0;
    top:10px;
    color:#999;
    padding:2px 0;
}

.b-listfilter-item .item
{
    padding:5px 0;
}

.b-listfilter-item .item a
{
    float:left;
    zoom:1;
    height:20px;
    font-size: 14px;
    white-space:nowrap;
    word-wrap:break-word;
    margin:5px 0px 5px 0px;
    padding:2px 20px;
    color: #ffffff ;
}
.b-listfilter-item .item a:first-child{
	 padding-left: 0px;
}

@media screen and (max-width:600px){
	.b-listfilter-item .item{ padding: 0;}
	
	.b-listfilter-item .item a
	{
		height: auto;
		padding:4px 20px;
	}
	.b-listfilter-item .item a:first-child{
		 padding:4px 20px;
	}
}

.b-listfilter-item .act
{
    position:absolute;
    right:0;
    top:12px;
    height:16px;
    line-height:16px;
}

.b-listfilter-item .act a
{
    display:none;
    padding:0 13px 0 0;
}

.b-listfilter-item .open
{
    background:url(images/t0187f8287120a671ea.png) right center no-repeat;
}

.b-listfilter-item .close
{
    background:url(images/t018dad77370f0fe67d.png) right center no-repeat;
}

.b-listtab {
    margin-top: 20px;
    color: #222;
    font-size: 12px;
    *margin-bottom: 20px
}

.b-listtab .tab-line {
    width: 100%;
    height: 39px;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-bottom: 2px solid #aik651
}

.b-listtab .tab {
    float: left;
    z-index: 1
}

.b-listtab .tab-item {
    position: relative;
    float: left;
    display: inline;
    height: 39px;
    line-height: 39px;
    width: 83px
}

.b-listtab .tab-item a {
    float: left;
    height: 39px;
    width: 83px;
    text-align: center;
    overflow: hidden;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    background: #fff;
    white-space: nowrap
}

.b-listtab .tab-cur a {
    position: absolute;
    border-left: 1px solid #aik651;
    border-right: 1px solid #aik651;
    border-top: 3px solid #aik651;
    top: -1px;
    left: -1px;
    height: 39px;
    text-indent: 1px;
    z-index: 2;
    background: #f4f4f4;
    *width: 82px
}

.b-listtab .tab-item span {
    position: absolute;
    width: 1px;
    background: #d8d8d8;
    overflow: hidden;
    height: 17px;
    top: 10px;
    right: 0
}

.b-listtab .tab-cur span {
    display: none
}

.b-listtab .app {
    float: right;
    line-height: 39px
}

.b-listtab .app span {
    color: #cb0000;
    padding: 0 2px
}

.b-listtab .app a {
    display: inline-block;
    width: 80px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    color: #fff;
    background: #aik651;
    border-radius: 2px;
    margin: 5px 6px
}

.b-listtab .app a:hover {
    color: #fff;
    background: #189a83
}

.b-listtab-main {
    margin-top: 0px;
    overflow: hidden
}

.b-listtab-main .list {
    margin-left: -20px
}

.b-listtab-main .item {
    float: left;
    width: 286px;
    height: 213px;
    margin: 0 0 20px 19px;
    background-color: #FFF;
}

.b-listtab-main .cover {
    width: 100%;
    height: 258px;
    overflow: hidden;
    position: relative;
    font-size: 12px;
}

.b-listtab-main .pay {
    position: absolute;
    top: 4px;
    left: 4px;
    display: block;
    height: 19px;
    line-height: 19px;
    background: rgba(29, 182, 154, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.b-listtab-main .hint {
    position: absolute;
    right: 4px;
    bottom: 4px;
    padding: 2px 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px
}

.b-listtab-main .detail {
    width: 100%;
    background: #fff
}

.b-listtab-main .title {
    font-size: 14px;
    padding: 2px 5px 2px 5px;
    margin: 0px;
}

.b-listtab-main .title .s1 {
    display: inline-block;
    float: left;
    width: 130px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #222
}

.b-listtab-main .title .s2 {
    float: right;
    color: #ff7b00;
    font-size: 16px
}

.b-listtab-main .star {
    font-size: 12px;
    color: #999;
    margin: 0 5px;
    width: 170px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.ew-page {
    color: #222;
    font-size: 12px;
    text-align: center
}

.ew-page a {
    border: 1px solid #e6e6e6;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background-color: #fff;
    text-align: center;
    margin: 0 4px;
    color: #222
}

.ew-page span {
    display: inline-block;
    width: 38px;
    color: #222
}

.ew-page .btn {
    width: 72px
}

.ew-page a:hover {
    color: #aik651;
    border: 1px solid #aik651
}

.ew-page .on:hover, .ew-page .on {
    cursor: default;
    border: 1px solid #aik651;
    color: #fff;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background-color: #aik651;
    text-align: center;
    margin: 0 4px
}

.eb-mediav-500 {
    float: left;
    width: 498px;
    height: 88px;
    border: 1px solid #b0dbd4;
    overflow: hidden
}

.eb-mediav-500 .logo {
    display: block;
    float: left;
    width: 50px;
    height: 90px
}

.eb-mediav-500 .list {
    padding: 0 3px;
    z-index: 1
}

.eb-mediav-500 .list li {
    float: left;
    width: 85px;
    height: 88px;
    overflow: hidden;
    margin-left: 3px
}

.eb-mediav-500 .item {
    display: block;
    width: 100%;
    height: 100%;
    position: relative
}

.eb-mediav-500 .item img {
    width: 100%;
    height: 100%
}

.eb-mediav-500 .item .hint {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 86px;
    height: 20px;
    background: #fff;
    opacity: .9
}

.eb-mediav-500 .item:hover .hint {
    height: 100%
}

.eb-mediav-500 .item .price {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #ff1313;
    font-size: 14px
}

.eb-mediav-500 .item .desc {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 76px;
    height: 48px;
    line-height: 16px;
    overflow: hidden;
    font-size: 12px;
    color: #333;
    display: none
}

.eb-mediav-500 .item:hover .desc {
    display: block
}

.eb-mediav-500 .item-360video .hint, .eb-mediav-500 .item-360video .price, .eb-mediav-500 .item-360video .desc, .eb-mediav-500 .item-360video:hover .desc {
    display: none
}

.eb-mediav-500 .appdown {
    display: block;
    width: 100%;
    height: 100%
}

.eb-mediav-500 .appdown img {
    width: 100%;
    height: 100%
}

.eb-mediav-500 .list-wrapper {
    width: 448px;
    height: 100%;
    position: relative;
    overflow: hidden;
    float: left
}

.eb-mediav-500 .list-wrapper b {
    z-index: 2;
    position: absolute;
    top: 15px;
    width: 20px;
    height: 45px;
    cursor: pointer;
    background-image: url(images/t01776acc478f788c42.png);
    background-repeat: no-repeat
}

.eb-mediav-500 .list-wrapper .btn-l {
    background-position: 0 0;
    left: 0
}

.eb-mediav-500 .list-wrapper .btn-l:hover {
    background-position: 0 -45px
}

.eb-mediav-500 .list-wrapper .btn-r {
    background-position: 0 -90px;
    right: 0
}

.eb-mediav-500 .list-wrapper .btn-r:hover {
    background-position: 0 -135px
}

.eb-mediav {
    width: 100%
}

.eb-mediav-wide {
    width: 1180px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    display: none;
    margin-top: 40px
}

.eb-mediav-950 {
    display: block;
    width: 950px;
    height: 90px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 40px
}

.eb-mediav-660 {
    float: left;
    width: 660px;
    height: 90px;
    margin-right: 19px
}

.g-wide .eb-mediav-950 {
    display: none
}

.g-wide .eb-mediav-wide {
    display: block
}

.g-wide .eb-mediav-small .eb-mediav-950 {
    display: block
}

.p-body .eb-mediav-500 .list {
    width: 448px
}

.g-slide {
    position: relative;
    overflow: hidden
}

.g-slide-item {
    position: absolute;
    top: 0;
    left: 0;
    display: none
}

.g-slide-item:first-child {
    display: block
}

.eb-signin-signup {
    overflow: hidden;
    *zoom: 1;
    background-color: #fff;
    height: 390px
}

.eb-signin input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #dadada;
    font-size: 14px
}

.eb-signin input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #dadada;
    font-size: 14px
}

.eb-registe-nav-topline {
    background-color: #e5e8e9;
    width: 596px
}

.eb-signin {
    width: 598px;
    background-color: #fff
}

.eb-signin-top {
    width: 596px;
    background-color: #475e5e
}

.eb-signin-nav {
    background-color: #a6b1b1
}

.eb-signin-topline {
    background-color: #909e9e;
    width: 594px
}

.eb-signin-topline-in {
    background-color: #bac2c3;
    width: 592px
}

.eb-signin-topline p {
    background-color: #bac2c3
}

.b-line {
    margin: 0 auto;
    height: 1px;
    font-size: 0
}

.eb-signin-nav-topline {
    background-color: #e5e8e9;
    width: 594px
}

.eb-signin-nav-bomline {
    background-color: #eff1f1
}

.eb-signin-nav-bomline p {
    background-color: #e5e8e9;
    width: 596px
}

.pingfen {
    position: absolute;
    bottom: 52px;
    right: 6px;
}

.am-container {
    max-width: 1220px;
}

.g-playicon:after, .g-playicon-mask, .g-playicon-icon {
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    cursor: pointer
}

.g-playicon:after {
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0, 0, 0, .3) url(images/t01925d53c7bd381a67.png) no-repeat center;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity 300ms linear;
    -moz-transition: opacity 300ms linear;
    -o-transition: opacity 300ms linear;
    -ms-transition: opacity 300ms linear;
    transition: opacity 300ms linear
}

.g-playicon:hover {
    border-color: #fefefe
}

.g-playicon:hover:after {
    opacity: 1
}

.g-playicon-mask, .g-playicon-icon {
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important
}

.g-playicon-mask {
    z-index: 2;
    background: #000;
    opacity: .3;
    filter: alpha(opacity=30)
}

.g-playicon-icon {
    z-index: 3;
    background: url(images/t01925d53c7bd381a67.png) center no-repeat
}

.g-playicon:hover:after, .g-playicon:hover .g-playicon-mask, .g-playicon:hover .g-playicon-icon {
    visibility: visible
}

.videolis {
    width: 100%;
    border-radius: 6px;
    border: solid #dedede 1px;
    float: left;
    margin-bottom: 10px;
    background: #fff;
    margin-right: 22px;
}

.videolis img {
    width: 100%;
}

.videolis a {
    color: #666;
}

.bbbt {
    font-weight: 400;
    font-size: 16px;
    padding: 8px;
    margin-bottom: 0;
    margin-top: 0;
}

.am-g {
    background: #f8f8f8;
}

.m-g {
    border-radius: 2px
}

.b-listtab-main {
    margin-top: 0px;
    padding-top: 0px;
    overflow: hidden;
}

.b-listtab-main .list {
    margin-left: -56px;
}

.paging {
    text-align: center;
    margin: 24px 0;
    clear: both
}

.paging .current {
    background-color: #aik651;
    color: #fff
}

#text-indent:hover {
    -webkit-animation: text-indent 1s ease 0s alternate none infinite
}

#text-indent:hover {
    -moz-animation: text-indent 1s ease 0s alternate none infinite
}

#text-indent:hover {
    animation: text-indent 1s ease 0s alternate none infinite
}

@-webkit-keyframes text-indent {
    from {
        text-indent: 0
    }
    50% {
        text-indent: 20px
    }
    to {
        text-indent: -20px
    }
}

@-moz-keyframes text-indent {
    from {
        text-indent: 0
    }
    50% {
        text-indent: 20px
    }
    to {
        text-indent: -20px
    }
}

@keyframes text-indent {
    from {
        text-indent: 0
    }
    50% {
        text-indent: 20px
    }
    to {
        text-indent: -20px
    }
}

.fenlei {
    margin-top: 10px
}




@media only screen and (max-width: 700px) {
    .b-listtab-main .item {
    }
	.fenlei{display: none;}
    .pingfen {
        display: none;
    }

    .bbbt {
        font-size: 12px;
        overflow: hidden;
        height: 29px;
    }
    .hot_film{
    	display: none;
    }
}


@media only screen and (max-width: 420px) {
   


    .b-listtab-main .cover {
        height: 203px
    }

    .b-listtab-main .title .s1 {
        width: 82px
    }

    .b-listtab-main .detail {
        overflow: hidden
    }

}
@media only screen and (min-width: 1200px) {
	.Film_list .b-listtab-main .item:nth-child(10){
		display: none;
	}
}
@media only screen and (max-width: 320px) {
    .b-listfilter-item .item a {
        margin: 5px 0 5px 5px
    }

    .b-listtab-main .item {
        margin: 0 0 20px 18px
    }
}

.b-listtab-main {
    overflow: hidden;
    margin-top: 11px;
    padding-top: 0;
    border-top: 1px solid #eee
}

#js-eb-feedback2, #js-eb-sidefeedback2, .eb-foot {
    display: none
}

.chak {
    float: right;
    color: #ff7562;
    font-weight: 500;
    font-size: 13px
}

#homeso {
    margin: 45px 0;
    display: none;
}
.hot_film {
    width: 260px;
     float: right;
    padding-left: 30px;
}
.pcadd {
    display: block
}

.madd {
    display: none
}

.homesoin {
    padding: 4px 8px;
    width: 500px;
    border: 1px solid #1db69a;
    border-right: none;
    border-radius: 2px 0 0 2px;
    color: #999
}

.homesobtn, .homesoin {
    height: 45px;
    outline: 0;
    font-size: 14px
}

.homesobtn {
    padding: 4px 10px;
    width: 75pt;
    border: none;
    border-radius: 0 2px 2px 0;
    background-color: #aik651;
    color: #fff;
    opacity: .9
}

@media only screen and (width: 768px) {
    .b-listtab-main .item {
        width: 230px
    }
}

@media only screen and (max-width: 666px) {
    .xuanze {
        margin-top: 10px !important;
        width: 95% !important;
        height: 34px !important;
        background-color: #d6d6d6 !important;
        font-size: 10px !important
    }
}

@media only screen and (max-width: 500px) {
    .homesoin {
        width: 347px
    }
}

@media only screen and (max-width: 460px) {
    .homesoin {
        width: 290px
    }
}

@media only screen and (max-width: 414px) {
    .xuanze {
        margin-top: 10px !important;
        width: 95% !important;
        height: 34px !important;
        background-color: #d6d6d6 !important;
        font-size: 10px !important
    }

    .pcadd {
        display: none
    }

    .madd {
        display: block
    }

    #homeso {
        margin: 30px 0
    }

    .homesoin {
        width: 260px
    }

    .jie {
        padding: 0 18px;
        font-size: 10px
    }
}

@media only screen and (max-width: 376px) {
    #homeso {
        margin: 20px 0
    }

    .homesoin {
        width: 180px;
        height: 44px
    }

    .homesobtn {
        width: 5pc;
        height: 44px
    }

    .footer {
        font-size: 10px
    }
}

@media only screen and (max-width: 360px) {
    #imgsrc {
        width: 177px
    }

    #homeso {
        margin: 28px 0
    }

    .homesoin {
        width: 180px;
        height: 40px
    }

    .homesobtn {
        width: 5pc;
        height: 40px
    }

    .footer {
        font-size: 10px
    }
}

.single-strong {
    display: block;
    margin: 3px 0;
    padding-left: 10px;
    border-left: 3px solid #1db69a;
    color: #606060;
    font-weight: 500;
    font-size: 1pc;
    line-height: 21px
}

.Film_list {
    width: 895px;
    float: left;
}

@media (max-width: 700px) {
    #homeso {
        margin: 50px 0;
        display: inherit;
    }
    #soform{ display: none;}
}

@media (max-width: 980px) {
    .Film_list {
        width: 100%;
    }
}



.index_film {
    display: inline;
}

.hot_film_list {
    margin-top: 11px;
    border-top: 1px solid #eee;
    background-color: #FFF;
    padding: 10px;
    margin-bottom: 20px;
}

.hot_film_list a {
    margin-top: 0;
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hot_film_list a:hover {
    color: #1db69a;
}

.Serial_number {
    color: #FFF;
    font-size: 12px;
    background-color: #1db69a;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 4px;
    float: left;
}

.Serial_numberh {
    color: #FFF;
    font-size: 12px;
    background-color: #a6a6a6;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 4px;
    float: left;
}

.vodname {
    display: block;
    width: 140px;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list_score {
    color: #a6a6a6;
    float: right;
}

.link1 {
    margin-top: 10px;
    width: 100%;
    float: left;
}

.link {
    width: 100%;
    float: left;
    padding: 10px;
}





@media (max-width: 700px) {
    .link1 {
        display: none;
    }

    .link {
        display: none;
    }
    
    .b-listtab-main .list {
	    margin-left:10px !important;
	    margin-right:10px;
	    padding-left: 0;
	}
	.b-listtab-main .list .item{
		padding: 5px;
		margin-bottom: 10px !important;
	    width: 48%;
	    float: left;
	    margin: 0;
	    height: auto;
	}
	.b-listtab-main .list .item:nth-child(odd)
	{
		margin-right: 4%;
	}
}

.chak_link {
    float: right;
    color: #555;
    font-size: 13px;
}

.link_list {
    background-color: #1db69a;
    padding: 4px 15px 4px 15px;
    font-size: 14px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 2px 2px 2px 2px;
    color: #fff;
}

.link_list:hover {
    color: #FFF;
    box-shadow: 0px 0px 4px #0808084d;
    -moz-transition: 0.5s all;
}


.navs{height: 45px;background-color: #fff;position: relative; }
.navs .nav-menu{position: absolute;right:0;top:0;text-align: center;line-height: 45px;background-color: #fff;width: 50px;border-left: 1px solid #e9e9e9;}
.navs .nav-menu>img{width:20px;}
.navs .nav-popup{ position:absolute; background:#fff; right:0px; top:52px; font-size:14px; display:none; box-shadow:0px 0px 2px rgba(0,0,0,0.3);z-index:999;}
.navs .nav-popup i{ display:block; width:0px; height:0px; border-width:0px 9px 9px 9px; border-style:solid; border-color:transparent transparent #fff transparent; position:absolute; top:-0.2rem; right:14px;}
.navs .nav-popup a{ display:block;padding:10px 14px; color:#333; border-bottom:1px dashed #ccc; width:90px; overflow:hidden; height:35px; text-align:center; font-family: "微软雅黑";}
.navs .nav-popup a.on{color:#1db69a;}

.navs .navs-body{height: 45px;overflow-y: hidden;overflow-x: scroll;width: 325px;position: absolute;left:0;top:0;}
.navs .navs-body::-webkit-scrollbar{display: none;}
.navs .navs-body>div{padding:0 14px;}
.navs .navs-body .nav-item{padding:0 4px;display:block;float: left;margin-right:5px;line-height: 45px;font-size:14px;color:#333;border-bottom: 2px solid #fff;height: 45px;}
.navs .navs-body .nav-item:hover,.navs .navs-body .nav-item.on{color:#1db69a;border-bottom: 2px solid #1db69a;}

@media (min-width: 700px) {
	.navs{ display: none; height: 0; width: 0; overflow: hidden;}
}