{include file="../../../application/admin/view/public/head" /}
<div class="page-container p10">
    <form class="layui-form layui-form-pane" method="post" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">状态：</label>
            <div class="layui-input-block">
                <input name="status" type="radio" id="rad-1" value="0" title="禁用" {if condition="$info['status'] neq 1"}checked {/if}>
                <input name="status" type="radio" id="rad-2" value="1" title="启用" {if condition="$info['status'] eq 1"}checked {/if}>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">位置：</label>
            <div class="layui-input-block">
                <select name="flag"  lay-verify="flag">
                    <option value="">请选择位置</option>
                    {volist name="$group" id="go"}
                        <option value="{$go.key}" {if condition="$info.flag eq $go.key"}selected{/if}>{$go.title}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">名称：</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" value="{$info.title}" placeholder="名称" id="title" name="title">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图片：</label>
            <div class="layui-input-block">            	
                <input type="text" class="layui-input" value="{$info.img}" placeholder="图片地址" id="img" name="img">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">地址：</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" value="{$info.link}" placeholder="跳转地址" id="link" name="link" lay-verify="link">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序：</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" value="{$info.sort}" placeholder="数值越小排列越靠前" id="sort" name="sort">
            </div>
        </div>        

        <div class="layui-form-item center">
            <div class="layui-input-block">
            	<input type="hidden" value="{$id}" name="id" />
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="formSubmit" data-child="true">保 存</button>
                <button class="layui-btn layui-btn-warm" type="reset">还 原</button>
            </div>
        </div>
    </form>

</div>
{include file="../../../application/admin/view/public/foot" /}
<script type="text/javascript">

    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
                , layer = layui.layer
                , $ = layui.jquery;
		
		
		
        // 验证
        form.verify({
        	flag: function (value) {
                if (value == "") {
                    return "请选择位置";
                }
           },
            link: function (value) {
                if (value == "") {
                    return "请输入链接地址";
                }
            }
        });


    });
</script>

</body>
</html>